<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item footer_icon">
      <i class="fa fa-home fa-lg" aria-hidden="true"></i>
    </li>
    <li class="nav-item footer_icon">
      <%= link_to root_path do %>
      <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
      <% end %>
    </li>
    <li class="nav-item footer_icon">
      <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
    </li>
  </ul>
  <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 głodna Chleba</p>
</div>
