<div class="row">
  <div class="col-4">
    <% if post.image.present? %>
      <%= image_tag post.image, class: "image_sidebar_thumb", alt: "Card image cap", width: "120px", height: "75px" %>
    <% end %>
  </div>
  <div class="col-8">
    <p><%= post.title %></p>
    <p class="text-muted"><small><%= format_date post.created_at %></small></p>
  </div>
</div>
